
div.form_container{
	background-color: #313131;
	background-image: url("../images/pixel_bg.png");
	padding:5%;
	width:80%;
	margin:0 auto;
	opacity: 0.9;
	border-radius: 15px;
}
.datafield {
	color: white;
	background-color: #313131;
	background-image: url("../images/pixel_bg.png");
	opacity: 0.9;
}

table{
	padding:15px;
	margin:0 auto;
	border-radius: 5px;
}

table.green{
	border: none;
	background-color: black;

}
td {
	padding:2px;
	margin:0;
}
input.small_num
{
	width:50%;
}
input[type="checkbox"]
{
	width:60px;
}
h2{
	font-family:monospace;
	margin-top: 10px;
	color: black;
	size: 40px;
}
h1{
	color:#06F000;
}