body
{
	background-color: #1a1a1a;
    background-image: url("../images/pixel_bg.png");
}
.title
{
	text-align: center;
}
.page-container
{
	
}
table, th, td
{
	border: 0px solid #666666;
	border-collapse: collapse;
}
.Schedule-table
{
	border-radius: 25px 25px 25px 25px;
	background-color: white;
	background-image: url("../images/pixel_bg.png");
	width: 75%;
	margin: 0 auto;
	font-size: 150%;
	overflow: hidden;
	border-style: solid;
	border-width: 3px;
	border-color: #cccccc;
}
tr:nth-child(even) 
{
	background-color: #b3b3b3;
}
.top-bar
{
	color: #b3b3b3;
	text-align: center;
	letter-spacing: 3px;
	background: #0d0d0d;
	background: -webkit-radial-gradient(#333333 40%, #0d0d0d);
	background: -o-radial-gradient(#333333 40%, #0d0d0d);
	background: -moz-radial-gradient(#333333 40%, #0d0d0d);
	background: radial-gradient(#333333 40%, #0d0d0d);
	border-style: none none solid;
	border-width: 2px;
	border-color: #cccccc;
}
.side-bar
{
	border-style: none none solid;
	border-width: 2px;
	margin: 2px 2px 2px 2px;
	background: #666666; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#595959, #808080 , #595959); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#595959, #808080  #595959); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#595959, #808080  #595959); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#595959, #808080 , #595959); /* Standard syntax */
}
th
{
	text-decoration: none;
}
td
{
	margin: 1px 1px 1px 1px;
}
.found
{
	background-color: rgba(0, 255, 0, 0.5);
}
.not-found
{
	background-color: rgba(255, 0, 0, 0.5);
}






