body
{
	background-color: #1a1a1a;
    background-image: url("../images/pixel_bg.png");
}
.title
{
	text-align: center;
}
.page-container
{
	
}
.Schedule-table
{
	background-color: white;
	background-image: url("../images/pixel_bg.png");
	width: 75%;
	margin: 0 auto;
	font-size: 150%;
	overflow: hidden;
	border-collapse: collapse;
	border-radius: 25px 25px 25px 25px;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	text-align: center;
}
tr.zebra:nth-child(even) 
{
	background-color: rgba(179, 179, 179, .5);
}
.top-bar
{
	color: #b3b3b3;
	text-align: center;
	letter-spacing: 3px;
	background: #0d0d0d;
	background: -webkit-radial-gradient(#333333 40%, #0d0d0d);
	background: -o-radial-gradient(#333333 40%, #0d0d0d);
	background: -moz-radial-gradient(#333333 40%, #0d0d0d);
	background: radial-gradient(#333333 40%, #0d0d0d);
	border-style: none none solid;
	border-width: 2px;
	border-color: #000000;
	height: 70px;
	color: #06f000;
}
.side-bar
{
	border-style: none solid solid;
	border-bottom-width: 2px;
	border-right-width: 3px;
	margin: 2px 2px 2px 2px;
	background: #808080;
    background: -webkit-linear-gradient(#595959, #808080 , #595959);
    background: -o-linear-gradient(#595959, #808080  #595959);
    background: -moz-linear-gradient(#595959, #808080  #595959);
    background: linear-gradient(#595959, #808080 , #595959);
	color:black;
}
th
{
	text-decoration: none;
}

.found
{
	background-color: rgba(0, 255, 0, 0.6);
}
.not-found
{
	background-color: rgba(255, 0, 0, 0.6);
}






