body {
	background-color: #1a1a1a;
    background-image: url("../images/pixel_bg.png");
}
.title {
	text-align: center;
}
.matchTable
{
	border-spacing: 0px 0px;
	background-image: url("../images/pixel_bg.png");
	background-color: #0d0d0d;
	margin: 0 auto;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	overflow: hidden;
	font-size: 120%;
	width:70%;
}
.top
{
	background-color: rgba(0, 0, 0, .4);
	height:70px;
	color:#e6e6e6;
}
.red
{
	color:#ff9999;
	text-shadow: 2px 2px 3px;
	background-color: rgba(255, 0, 0, .4);
}
.blue
{
	color:#9999ff;
	text-shadow: 2px 2px 3px;
	background-color: rgba(0, 0, 255, .4);
}
.green
{
	color:#9bff99;
	font-weight: bold;
	text-shadow: 2px 2px 3px;
	background-color: rgba(6, 240, 0, .4);
	
}
.time
{
	color:#ffff99;
	background-color: rgba(255, 255, 0, .3);
}
.side-bar
{
	background-color: rgba(89, 89, 89, .4);
	border-style: none;
	background: none;
	color:white;
}
tr.zebra:nth-child(even) 
{
	background-color: rgba(38, 38, 38, .5);
}
tr.zebra
{
	
}







